{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Yu's Resume</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Stylesheet -->
    <link id="theme-style" href="{% static 'css/scrolling-nav.css' %}" rel="stylesheet">

    <link id="theme-style" href="{% static 'css/styles.css' %}" rel="stylesheet">

    <!-- icon -->
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#page-top">Top</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#experiences">Experiences</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#education">Education</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#skill">Skill</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="header">
      <div class="intro">
        <div class="container text-center">
          <div>
            <img src="{% static 'images/yu1.svg' %}" alt="profile picture" class="top-prof">
          </div><br>
          <h1>Yu Arakawa</h1>
          <div class="title">Software Developer</div>
          <p class="lead">My coding story began when I was in Vancouver, Canada.<br>
          I met nice people and a company there<br>
          then started to study programming in the amazing environment.</p>
        </div>
      </div>

      <div class="contact-info">
        <div class="container text-center"></div>
      </div>

      <div class="last-section"></div>
    </header>

    <div class="wrapper section">
      <section id="experiences">
        <div class="section-title">Work Experiences</div>
        <div class="timeline">
          <div class="item">
            <div class="work-place">
              <div class="row">
                <div class="company col-lg-8">FCOM SERVICES CO.,LTD.</div>
                <div class="location col-lg-4">
                  Vancouver, Canada</div>
              </div>
            </div>
            <div class="job-meta">
              <div class="row">
                <div class="title col-lg-8">Internship</div>
                <div class="time col-lg-4">August, 2019 - January, 2020</div>
              </div>
            </div>
            <!--//job-meta-->
            <div class="job-desc">
              <p class="main-explanation">Completed Internship. I started to study programming and Python, and joined their projects. I created databases using Scrapy, Python, and MongoDB for the projects and enabled to connect the databases to a cloud service. I knew about Git and Docker to work as a team. Worked on projects with team members, bounced ideas and questions off and took part in meetings.</p>
              <p>Technologies and Language used:</p>
              <ul>
                <li>Python</li>
                <li>Scrapy</li>
                <li>MongoDB</li>
                <li>MongoDB Atlas</li>
                <li>Docker</li>
                <li>Git</li>
                <li>English</li>
              </ul>
            </div>
            <!--//job-desc-->
          </div>
          <!--//item-->
        </div>
        <!--//timeline-->
      </section>
    </div>
    <!--//container -->
    <div class="wrapper bg-light section">
      <section id="education">
        <div class="education-section">
          <!-- <div class="col-lg-8 mx-auto"> -->
          <div class="section-title">Education</div>
          <div class="row">
            <div class="item col-xs-12 col-sm-4">
              <div class="item-inner">
                <h3 class="degree">Master Degree in Physics Engineering</h3>
                <div class="education-body"><br>
                  <i class="fas fa-graduation-cap fa-fw iconcolor"></i>
                  University of Fukui
                </div>
                <!--//education-body-->
                <div class="time">2016 - 2018</div>
                <div class="desc">
                  I was in the polymer science field and studied an optical material, silica glass. Our lab team collaborated with a company. I took the lead on our projects with them. I also helped some companies to research their products by measuring and analyzing.
                  I had more than 10 times presentations in official academic meetings and have experience of making a thesis in English.
                </div>
              </div>
              <!--//item-inner-->
            </div>
            <!--//item-->

            <div class="item col-xs-12 col-sm-4">
              <div class="item-inner">
                <h3 class="degree">Bachelor Degree in Physics Engineering</h3>
                <div class="education-body"><br>
                  <i class="fas fa-graduation-cap fa-fw iconcolor"></i>
                  University of Fukui
                </div>
                <!--//education-body-->
                <div class="time">2012 - 2016</div>
                <div class="desc">
                  The content of this course consists of various fields of physics, engineering dynamics, electromagnetism, quantum mechanics, etc., and basic mathematics, calculus and linear algebra. Studied in laboratories as well as in classrooms and replicated
                  physical phenomena. I was assigned to a lab in a senior and made a bachelor thesis.
                </div>
              </div>
              <!--//item-inner-->
            </div>
            <!--//item-->

            <div class="item col-xs-12 col-sm-4">
              <div class="item-inner">
                <h3 class="degree" style="padding-bottom:  28px;">High School Degree</h3>
                <div class="education-body"><br>
                  <i class="fas fa-school fa-fw iconcolor"></i>
                  Tottori Johoku High School
                </div>
                <!--//education-body-->
                <div class="time">2009 - 2012</div>
                <div class="desc">
                  I focus on mathematics, physics, chemistry and English, mainly.
                </div>
              </div>
              <!--//item-inner-->
            </div>
            <!--//item-->

          </div>
          <!--//row-->
        </div>
        <!-- //education-section> -->
      </section>
    </div>
    <!-- wrapper section -->

    <div class="wrapper section">
      <section id="skill" class="skills-section">
        <h2 class="section-title">Professional Skills</h2>
        <div class="top-skills">
          <h3 class="subtitle text-center">
            <i class="fab fa-python fa-fw"></i>Python</h3>
          <div class="row">
            <div class="item col-xs-12 col-sm-4">
              <div class="item-inner">
                <h4 class="skill-name">Scrapy</h4>
                <div class="level">Intermediate, 1 years</div>
                <div class="desc">
                  Scrapy is a web crawling and scraping Python framework. I've been working with Scrapy for a year and created databases in the internship. I also made a regular scrapying function with scrapyd and cron and celery and redis, then integrated it into my django project.
                </div>
              </div>
              <!--//item-inner-->
            </div>
            <!--//item-->
            <div class="item col-xs-12 col-sm-4">
              <div class="item-inner">
                <h4 class="skill-name">Flask</h4>
                <div class="level">Intermediate, 4 months</div>
                <div class="desc">
                  Flask is a lightweight web application framework in Python. I followed this great tutorial,
                  <a href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world">Flask-Mega-Tutorial</a>, then made
                  <i>Clothes Manager</i>
                  based on it.
                </div>
              </div>
              <!--//item-inner-->
            </div>
            <!--//item-->
            <div class="item col-xs-12 col-sm-4">
              <div class="item-inner">
                <h4 class="skill-name">Django</h4>
                <div class="level">Intermediate, 6 month</div>
                <div class="desc">
                  Django is a Python-based web framework. I've done with tutorials on <a href="https://docs.djangoproject.com/en/3.0/intro/tutorial01/">the official website</a> and <a href="https://www.udemy.com/course/python-and-django-full-stack-web-developer-bootcamp/">Udemy</a>. Based on these experiences, I'm working on a project now.
                </div>
              </div>
              <!--//item-inner-->
            </div>
            <!--//item-->
          </div>
          <!--//row-->

          <h3 class="subtitle text-center">
            <i class="fab fa-python fa-fw"></i><a href="https://clothesmanager.herokuapp.com">ClothesManager</a></h3>
          <div class="row">
            <div class="item col-xs-12 col-sm-4">
              <div class="item-inner">
                <h4 class="skill-name">Celery and Redis</h4>
                <div class="level">Biginner, 3 months</div>
                <div class="desc">
                  Celery is a task queue/job queue and Redis is in-memory data structure store. I used Celery as a worker for Django project and Redis as its broker. Those work for Scrapy to scrape data synchronously in my project.
                </div>
              </div>
              <!--//item-inner-->
            </div>
            <!--//item-->
            <div class="item col-xs-12 col-sm-4">
              <div class="item-inner">
                <h4 class="skill-name">Docker</h4>
                <div class="level">Intermediate, 6 months</div>
                <div class="desc">
                  Docker is a tool designed to make it easier to build applications based on containers. I've made dockerfiles and built containers for Celery, Redis, Elasticsearch, Nginx, Scrapyd, some databases and so on.
                </div>
              </div>
              <!--//item-inner-->
            </div>
            <!--//item-->
            <div class="item col-xs-12 col-sm-4">
              <div class="item-inner">
                <h4 class="skill-name">Heroku</h4>
                <div class="level">Biginner, 1 month</div>
                <div class="desc">
                  Heroku is a container-based cloud Platform as a Service (PaaS). I deploy my project, ClothesManager, on it using heroku.yaml for Docker containers I build.
                </div>
              </div>
              <!--//item-inner-->
            </div>
            <!--//item-->
          </div>
          <!--//row-->
        </div>
        <!--//top-skills-->

        <div class="other-skills text-center">
          <h3 class="subtitle">Other Skills</h3>
          <div class="misc-skills">
            <span class="skill-tag">RQ</span>
            <span class="skill-tag">Elasticsearch</span>
            <span class="skill-tag">Nginx</span>
            <span class="skill-tag">Git</span>

            <br>

            <span class="skill-tag">MongoDB</span>
            <span class="skill-tag">MongoDB Atlas</span>
            <span class="skill-tag">MYSQL</span>
            <span class="skill-tag">PostgreSQL</span>


            <br>

            <span class="skill-tag">HTML5</span>
            <span class="skill-tag">CSS3</span>
            <span class="skill-tag">JavaScript</span>
            <span class="skill-tag">jQuery</span>
            <span class="skill-tag">Java</span>

          </div>
        </div>
        <!--//other-skills-->

      </section>
      <!--//skills-section-->
    </div>
    <!-- //wrapper section -->

    <div class="wrapper bg-light section">
      <section id="portfolio" class="portfolio-section">
        <h2 class="section-title">Projects</h2>
        <div class="card-deck cardbox">
          <div class="card">
            <figure class="pic-box">
              <img class="img-responsive" src="{% static 'images/portfolio/search_recipes.png' %}" alt="search_recipes" width="100%" height="auto">
            </figure>
            <div class="card-body item-inner">
              <div class="content">
                <h3 class="sub-title card-title">
                  <a href="https://www.google.com">Search Recipe Bot</a>
                </h3>
                <div class="card-text">
                  <div class="meta">
                    Search Recipe Bot is LINE Bot with Rakuten API.<br>
                    This bot suggests recipes with a key-word of food ingredient and dishes' genre name. You can decide today's dinner only by sending a word of food in your fridge.
                    <br><br>
                    <div class="tech">
                      <u>
                        Technology:
                        <ul>
                          <li>Python</li>
                          <li>Rakuten API</li>
                          <li>Heroku</li>
                        </ul>
                      </u>
                    </div>
                  </div>
                </div>
                <!-- card-text -->
              </div>
              <!-- content -->
              <a class="link-mask" href="https://github.com/yuara/Search-Recipe-Bot"></a>
            </div>
            <!-- card body -->
            <div class="card-footer">
              <small class="text-muted">
                <a href="https://github.com/yuara/Search-Recipe-Bot">Github</a>
                or
                <a href="https://line.me/R/ti/p/%40833hhadp">QRcode for LINE</a>
              </small>
            </div>
          </div>
          <!-- card -->

          <div class="card">
            <figure class="pic-box">
              <img class="img-responsive" src="{% static 'images/portfolio/ClothesManager_top.png' %}" alt="Clothes Manager img" width="100%" height="auto">
            </figure>
            <div class="card-body item-inner">
              <div class="content">
                <h3 class="sub-title card-title">
                  <a href="https://www.google.com">ClothesManager</a>
                </h3>
                <div class="card-text">
                  <div class="meta">
                    ClothesManager is a web application with Django.<br>
                    This app gets information about the weather from a forecast website and suggests clothes that are suitable for the weather. The clothes are from what you register. You only make today's outfit by the suggestion and can save outfits on ClothesManager.
                    <br><br>
                    <div class="tech">
                      <u>
                        Technology:
                        <ul>
                          <li>Django</li>
                          <li>Scrapy</li>
                          <li>Celery</li>
                          <li>Redis</li>
                          <li>PostgreSQL</li>
                          <li>Docker</li>
                        </ul>
                      </u>
                    </div>
                  </div>
                </div>
                <!-- card-text -->
              </div>
              <!-- content -->
              <a class="link-mask" href="https://clothesmanager.herokuapp.com/"></a>
            </div>
            <!-- card-body -->
            <div class="card-footer">
              <small class="text-muted">
                <a href="https://clothesmanager.herokuapp.com/">Heroku App</a>
                <a href="https://github.com/yuara/ClothesManager_Django">Github</a>
              </small>
            </div>
          </div>
          <!-- card -->

        </div>
        <!-- card-deck -->
      </section>
      <!-- project section -->
    </div>

    <div class="wrapper section">
      <section id="contact" class="contact-section">
        <h2 class="section-title">Contact Me</h2>
        <div class="intro">
          <img class="profile-image" src="{% static 'images/yu1.JPG' %}" alt="Mehul's profile image">
          <div class="dialog">
            <p>I'm currently working on my own project. I always open to new opportunities that let me work as much as I can on other projects.</p>
            <p>
              <strong>I can work with the following:</strong>
            </p>
            <ul class="list-unstyled service-list">
              <li>
                Back-end development with Django, Flask/Python</li>
              <li>
                Web Crawling and Scraping with Scrapy/Python</li>
              <li>
                Making and designing Databases</li>
              <li>
                Connecting MongoDB to a cloud service, MongoDB Atlas</li>
              <li>
                Designing website simply with HTML5, CSS, Bootstrap and JS.</li>
              <li>
                Uploading Codes to Github</li>
            </ul>
            <p>Drop me a line at
              <a href="mailto:yu.arakawa112@gmail.com">yu.arakawa112@gmail.com</a>
            </p>
            <ul class="social list-inline">
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/yu-arakawa-066a55185/" target="_blank">
                  <i class="fab fa-linkedin" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/yuara" target="_blank">
                  <i class="fab fa-github" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://line.me/R/ti/p/%40yuuukun112" target="_blank">
                  <i class="fab fa-line" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="mailto:yu.arakawa112@gmail.com" target="_blank">
                  <i class="far fa-envelope" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
            <!--//social-->
          </div>
          <!--//diaplog-->
        </div>
        <!--//intro-->

      </section>
      <!--//section-->

    </div>
    <!--//wrapper-->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Yu Arakawa 2020</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="{% static 'js/scrolling-nav.js' %}"></script>

  </body>

</html>
